html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    display: flex;
    border: 1px solid black;
    padding: 16px 32px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
}
