body {
    background-color: #777;
}

header, h1, h2 {
    font-size: 30pt;
    font-weight: bold;
    color: black;
}

p, ul, ol {
    font-size: 20pt;
    color: black;
}

h3 {
    font-size: 25pt;
}