body {
    background-color:  #0e172a;
    color: white;
}

/* dot notation for class-level rules!
    1. put this container into grid mode (display: grid)
    2. define the columns (grid-template-columns: col1 col2 col3 ...)
    3. creates some gap between the columns and rows (gap: 20px;)
*/

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}

.b {
    border: solid 1px grey;
    padding: 40px;
    border-radius: 20px;
}

header, footer {
    /* 
    First value to column start position. 
    Second value is column end position.
    */
    grid-column: 1 / 4;
}

main {
    min-height: 420px;
}

nav, main, aside {
    text-align: center;
}

/* When making rules for mobile, you need a "media query" */
@media screen and (max-width: 600px) {
    .grid-layout {
        grid-template-columns: 1fr;
        background-color: hotpink;
    }

    header, footer {
        grid-column: 1 / 2;
    }

    nav, main, aside {
        text-align: left;
    }

    aside {
        min-height: 80px;
    }
}