body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Your code here */

header {
    background-color: lightskyblue;
    padding: 50px;
}

main {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 50px;
    padding: 50px;
}
