html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

#home {
    height: 100vh;
    background-color: turquoise;
    color: white;
}

#bio {
    height: 100vh;
    background-color: darkblue;
    color: white;
}

#portfolio {
    height: 100vh;
    background-color: darkorchid;
    color: white;
}

#contact {
    height: 100vh;
    background-color: purple;
    color: white;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}