body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    gap: 2px;
    margin: 5px;
    align-items: center;
    justify-content: center;

    /* you will add addition rules for the container here  */
}

/* create your child rules here:  */

.item-1 {
    grid-column: 1/4;
    grid-row: 1/2;
}

.item-2 {
    grid-column: 3/6;
    grid-row: 2/3;
}

.item-3 {
    grid-column: 1/4;
    grid-row: 3/4;
}

.item-4 {
    grid-column: 3/6;
    grid-row: 4/5;
}

.item-5 {
    grid-column: 1/4;
    grid-row: 5/6;
}

[class^="item-"] {
    background: white;
    border: 2px solid black;
    display: flex;
    font-size: 20pt;
    height: 160px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}